<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-4 h2 text-success">
        Sign In
    </div>
    <div class="text-decoration-none fw-medium d-inlin-block">
        Don't have an account?
        <a routerLink="/user/signup" class="text-decoration-none fw-medium text-success d-inlin-block">Sign Up</a>
    </div>
    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="Email" formControlName="email">
        <div class="error-feedback" *ngIf = "hasDisplaybleError('email') && form.controls.email.hasError('required')">
        Please enter your Email
        </div>
    </div>
    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="Password" formControlName="password">
        <div class="error-feedback" *ngIf = "hasDisplaybleError('password') && form.controls.password.hasError('required')">
        Please enter your Password
        </div>
    </div>
    <div *ngIf="error" class="position-relative mb-3">
  <div class="card border-0 shadow-sm rounded-4 bg-danger-subtle">
    <div class="card-body d-flex align-items-center">
      <span class="me-3 text-danger-emphasis fs-5">
        <i class="bi bi-exclamation-triangle-fill"></i>
      </span>
      <span class="flex-grow-1 text-danger-emphasis fw-semibold">{{ error }}</span>
      <button type="button" class="btn-close ms-2" aria-label="Close" (click)="error = null"></button>
    </div>
  </div>
</div>
    <div class="mt-4">
        <button type="submit" class="btn btn-success w-100 rounded-3">Sign In</button>
    </div>
</form>